[2014-05-20 22:30] alexcb opened #1 "use of # is awkward for bash users"
Hello Mikito,

Once I realized I had to escape my hashes (or use the -t option), gr has been working fairly well and is proving to be useful.

I'm impressed with the docs you have written at http://mixu.net/gr/ however, it took me a while to realize what I was doing wrong (bash treating a # as a comment, unlike zsh). Seeing as there's a lot of us bash users, would it be possible to also support '@

[2014-06-24 14:15] sgandon opened #2 "install details"
Hello I am using a Mac and do not know how to install this.
Could you enhance you documentation to explain the install procedure please ?
Thanks.

[2014-06-25 07:56] luolong opened #3 "More ways to filter repositories"
I think it is great that I can filter my repositories by tags, but quite often, when working with multiple repositories, I need to run my git command on a subset of the tagged repositories.

Couple of specific points of interest that might be good candidates for filtering:
1. status of the repo: _modified_/_unmodified_, _ahead_ or _behind_
2. name of the active branch

First one could be triggered

[2014-06-25 08:10] sgandon opened #4 "Could not specify a string for a commit message"
Hi Rolland,
I did not manage to use gr to commit some changes using git.
It seems it does not interpret the double quotes (") or single quotes (') properly.
here is an example of a command that fails

[code]

[2014-06-27 16:02] auntieNeo opened #5 "gr status doesn't spot unpushed work in branches"
The <code>gr status</code> command currently only looks for changes in the currently checked out branch. It misses un-pushed commits in branches that aren't checked out. This is a problem for repositories where I might be working on multiple branches at a time, make a commit on one branch, and checkout another branch without pushing. The branch might not even be tracking any remote branches. If th

[2014-07-03 13:34] alexgorbatchev opened #6 "Can't call `git commit -m "..."`"
Fails to call across all repos

[code]

[2014-07-03 13:36] alexgorbatchev opened #7 "`discover` should be able to take a path"
I don't think it's useful to traverse all folders for a user, it would be much better if one could specify project path to easily upstart a project.

[2014-07-03 13:38] alexgorbatchev opened #8 ".grconfig.json should be in the project folder"
It's currently not possible to share the `.grconfig.json` between developers because it contains full paths. Ideally it should be local to the project folder.

[2014-11-17 20:44] ddcruver opened #10 "gr discover failes on Windows"
Windows 7
Installed Node.JS and NPM installed with Chocolatey by nodejs.install (Which uses the official installer)
Running in Node.js Command Prompt

events.js:72
        throw er; // Unhandled 'error' event
              ^
Error: spawn ENOENT
    at errnoException (child_process.js:1001:11)
    at Process.ChildProcess._handle.onexit (child_process.js:792:34)

[2014-11-30 22:59] #1 closed, assigned to nobody

[2014-11-30 23:02] #2 closed, assigned to nobody

[2014-11-30 23:05] mixu opened #11 "Introduce notion of prerequisites for commands"
For example, running `git` requires that the directory has a `.git` subdirectory, and running `make` requires that a `Makefile` exists. This would clean up some of those ugly errors when trying to run a command a set of tagged folders, some of which do not meet the prereqs for the command.

[2014-12-01 04:46] zachberger opened #12 "Spaces not supported in repo names"
Repo name: "Fuck RITs Emails"

[code]

[2014-12-01 08:02] #4 closed, assigned to nobody

[2014-12-01 08:06] #6 closed, assigned to nobody

[2014-12-01 08:30] #11 closed, assigned to nobody

[2014-12-15 13:48] xapple opened #13 "gr discovers chokes on missing permissions"
If you have a symbolic link to some directory containing directories which you do not have access to in your home directory, discover doesn't skip them, it fails.

    lucas@srv2 test $ gr tag discover

    fs.js:665
      return binding.readdir(pathModule._makeLong(path));
                     ^
    Error: EACCES, permission denied '/home/lucas/homes/Concoct/NewMock2/'
        at Object.fs.readdi

[2014-12-17 12:14] andersoyvind opened #14 "Add parallel tasks"
Is there a chance you could add the feature of tasks run in parallel?
A parallel run of a git pull would've been a significant difference to our daily workflow.

[2015-01-13 13:20] imr-ctu opened #15 "nodejs instead of node"
On Ubuntu 14.04, gr doesn't work out of the box because the crash-bang line uses `node` instead of `nodejs`.
`#!/usr/bin/env node` should be `#!/usr/bin/env nodejs`

The workaround is to install  the `nodejs-legacy` package.

I don't know how it is with other distro.

[2015-01-23 15:55] tleach opened #16 ""gr" collides with an alias in the zsh git plugin"
Firstly - this is a great looking project which I'm excited to try out.

One initial stumbling block I've encountered is that the `gr` command collides with the [`gr` alias in the zsh git plugin](https://github.com/robbyrussell/oh-my-zsh/blob/master/plugins/git/git.plugin.zsh#L35).

Obviously if you don't use this plugin you don't really care, but at my company at least it's widely used.

Would be

[2015-01-23 16:00] tleach commented on #16
Actually, on second thoughts it might just be simpler to run `unalias gr` to remove the zsh alias.

[2015-01-23 16:00] #16 closed

[2015-02-18 23:56] clintonhalpin opened #17 "This is amazing"
This works amazing... :100:  @mixu

Thank you

[2015-02-19 04:27] mixu commented on #15
I think this is a universal problem with Ubuntu/Debian, see:

https://github.com/joyent/node/issues/3911
https://lists.debian.org/debian-devel-announce/2012/07/msg00002.html

As former BDFL isaacs said, the canonical executable name is "node":

https://github.com/joyent/node/issues/4772

I haven't seen any other packages on npm use `nodejs` in their env line, so I'm afraid I'm not going to do it e

[2015-02-19 04:27] #15 closed

[2015-02-19 04:33] mixu commented on #17
Thanks! Glad to hear that! Let me know if you have any ideas for improvements, and I'll take a look at them next time I'm doing work on `gr`. I'm particularly interested if someone can up with a compelling team / project use case (e.g. multiple people working in a multirepo environment). gr works well enough for me but I think there is still some additional potential in terms of making common task

[2015-02-19 04:58] clintonhalpin commented on #17
I can probably give you a few insights on the team / project use case, I'm working on something similar to these libraries:

http://amp.ampersandjs.com/
http://tachyons.io/

Primarily I think I'll use this to:

* Run gulp tasks ( less, html, bump tags etc... )
* Git ( keep consistent branches, push tags )
* Install Bower or NPM packages

At some point it would be great to:

* Search / Replace acro

[2015-02-23 14:08] Zearin opened #18 "`gr discover` error"
Ran in my home directory:

[code]

My info:

* OS X 10.9 (Mavericks)
* `node --version`: v0.12.0
* `npm --version`: 2.6.0
* `git --version`: git version 2.3.0

[2015-02-24 04:23] mixu commented on #18
The `discover` command is actually `gr tag discover`, but this brings up an important point - error messages should be made more user-friendly. I'll leave this open for the next time I am working on gr.

[2015-04-13 20:49] michaek commented on #14
This sounds like a good idea, but how would you handle the asynchronous output? Just hold the output from each task and output it on completion?

[2015-04-20 12:22] nichtich commented on #8
Yes and pathes should be local to the location of `.grconfig.json` and `gr` should walk up the directory try to find `.grconfig.json` with home directory as last choice:

    /my/dir/project/.grconfig.json
    /my/dir/.grconfig.json
    /my/.grconfig.json
    /.grconfig.json # maybe skip this as it would be very bad practice
    /home/user/.grconfig.json

[2015-04-20 12:24] nichtich commented on #10
Have you tried `git tag discover`? This issue could be a duplicate of #18

[2015-04-20 12:30] nichtich commented on #5
You can create a git alias:

    git config --global alias.unpushed '!sh -c "git status --short; git log --branches --not --remotes --simplify-by-decoration --decorate --oneline; git stash list"'

Then call via

    gr git unpushed

[2015-04-20 12:44] nichtich opened #22 "Support tab-completion for commands"
`gr <tab>` works but I expected `gr git l<tab>` to return the completion of `git l<tab>`.

`gr` should delegate tab completion to other commands such as `git`.

[2015-04-20 13:14] nichtich opened #23 "Support missing directories"
A missing directory is reported as `Clean`, followed by an error message. This should be changed to status `Missing`.

gr should further support cloning a missing directory listed in `.grconfig.json`, e.g. to clone all repositories tagged as work unless they already exist:

    gr @work clone

[2015-04-20 13:15] nichtich commented on #8
Together with #23 one could easily copy .grconfig.json to some location and checkout a bunch of repositories with one command.

[2015-05-01 20:29] nichtich commented on #23
Fixed the error message with #24

[2015-05-01 21:01] nichtich opened #25 "Remove json format"
Support of the `--json` output format spoils the source code at many places adding complexity, bad design, and bugs. I'd rather remove the feature. Otherwise gr needs a major code refactoring to abstract from output formats, making it even more complex.

[2015-05-01 21:19] mixu commented on #25
Makes sense to me, it was one of those features that I thought might turn out to be useful when building out gr, but at least personally I haven't found a really compelling use case for it.

[2015-05-29 21:47] jdfreder opened #28 "gr ignores aliases set in the current context"
Hi,

Thanks for `gr`, what a cool little tool!  I have a lot of aliases, like `alias st=git status`, and I'd like it if `gr` respected those aliases so I could do things like `gr #all st` and `gr #some st` without having to define an alias for every tag I may want to use.

I don't know how `gr` works internally, but I'm guessing it launches subprocesses for each path.  I think the solution may be

[2015-06-27 03:59] clauswilke opened #30 "Update documentation to state where tags are stored?"
Hello,

this looks like a great project. I was thinking I had to write something like this myself, now I don't have to.

I have a minor request for the documentation: Could you mention where tags are actually stored? Does gr have a config file where it keeps all that information, or is it somehow added to each git repository?

Thanks!

[2015-06-27 05:29] mixu commented on #30
sure - the config is stored in `~/.grconfig.json`. For example:

[code]

All plugins can share the config, e.g. https://github.com/mixu/gr/blob/master/plugins/tag.js#L29

If you have some time to write up a PR against the readme, I'd be happy to merge it - alternatively I'll update it some time later.

[2015-06-30 18:23] clauswilke commented on #30
Pull request done, as requested.

[2015-07-01 04:40] mixu commented on #30
Awesome, thanks!

[2015-07-01 04:40] #30 closed

[2015-07-13 07:40] nasht00 commented on #7
+1

[2015-07-13 07:42] nasht00 opened #32 "Make discover show progress"
I typed discover a while ago, and I'm still waiting.
Is it still searching? Is it stuck? Did it crash?
I wish there was some progress indication just to see that it's still working...

[2015-08-29 06:30] maximilianr opened #33 "Unhandled 'error' event"
When I run `gr discover` or `. <(gr completion)`, I get this error. I'm on Mac OS X, and have the same error across two computers.

Otherwise gr works excellently (thank you for the superb tool!)

[code]

[2015-09-15 22:42] coderjoe opened #34 "gr @tag status makes a redundant call to git status"
The status command currently executes two child processes to fetch the status of a repository. I believe this could be reduced to one call to `git status --branch --porcelain`.

I'll prepare a pull request for your review, my only worry is that I can't seem to run the full test suite on the machine I have access to at the moment.

[2015-09-15 23:55] mixu commented on #34
cool, would be happy to merge this. Let me know if you have trouble resolving the test issues, `make test` seems to work on my OSX/Node 0.12.6 setup.

[2015-09-16 00:06] coderjoe commented on #34
I think I've got the test suite working locally. The referenced PR passes all tests on my local machine in node 0.12.6 and 4.0.0. I can test in more versions if you'd prefer, but that will have to wait until tomorrow.

[2015-09-16 02:28] coderjoe commented on #7
I'd also love to be able to provide a path to discover. If nobody on the project objects I'd be happy to take a stab at the path argument. Would people want discover to take a single argument, space separated list of arguments, something else?

[2015-09-16 05:18] mixu commented on #34
awesome! published as `v0.4.1`, thanks for fixing this issue!

[2015-09-16 05:18] #34 closed

[2015-09-17 00:44] coderjoe commented on #17
Another team project use-case. I'm working on a team of developers who are implementing a web project with a front-end in node.js, and a backend of many services. The project is polyglot (node and C# developed in Windows) and our teams may need to perform operations across all of our background service repositories, all front-end repositories, or collections of the whole.

I personally use this to

[2015-09-17 00:49] coderjoe commented on #33
@maximilianr

For your problem with aut-discovery give `gr tag discover` a try. This might be a duplicate of #18

As for `. <(gr completion)` it works fine for me in zsh in Ubuntu, what shell are you using?

[2015-09-17 01:17] #7 closed

[2015-09-17 01:17] mixu commented on #7
fixed by @coderjoe 's PR

[2015-09-17 05:23] mixu commented on #33
I changed the routing in master to make `gr discover` call `gr tag discover` since this seems to be a be somewhat common issue when getting started with `gr`.

I'd love to see a stack trace for `. <(gr completion)` so feel free to reopen this issue if you can reproduce the issue.

[2015-09-17 05:23] #33 closed

[2015-09-17 05:23] mixu commented on #18
I changed the routing in master to make `gr discover` call `gr tag discover` since this seems to be a be somewhat common issue when getting started with `gr`.

[2015-09-17 05:23] #18 closed

[2015-09-17 05:24] mixu commented on #10
I changed the routing in master to make `gr discover` call `gr tag discover` since this seems to be a be somewhat common issue when getting started with `gr`.

[2015-09-17 05:24] #10 closed

[2015-09-17 05:27] #13 closed

[2015-10-12 15:01] nwinkler opened #39 "http://mixu.net/gr/ is using the old '#' syntax"
The documentation on http://mixu.net/gr/ is still using the old '#' syntax for tags, not the new one.

This threw me off, since I was looking at the examples there and couldn't figure out how this worked in v0.4.1.

[2015-10-12 17:32] mkstix6 commented on #32
Ye i'm wondering the same thing today. Did yours complete in the end or is it forever and ever and ever?

[2015-10-12 17:33] mkstix6 commented on #32
Also i tried typing `gr` just to see if it installed ok but i got nothing back. It's just reassuring to see something like git's `git` command.

[2015-10-15 11:57] michaek commented on #39
@mixu I couldn't find a repo for the documentation site. If there is one, I'll make a pull request to update this.

[2015-10-15 11:58] michaek commented on #28
My fork, see #27, is meant to address this, but it only works in bash currently.

[2015-10-15 14:41] jdfreder commented on #28
That's awesome!  Actually I ended up writing my own tool, the alias expansion only works on osx and linux (or machines with the `alias` command), but the tool itself is cross platform.  I haven't had time to document it and share it with the world, but ti lives here: https://github.com/jdfreder/pur

[2015-10-16 06:02] #32 closed

[2015-10-16 06:04] mixu commented on #32
fixed! When I originally wrote `gr`, I didn't realize that people could have super deep `~` paths. Now `gr discover` accepts path arguments, shows progress and recurses to a maximum of five levels deep in search of git directories...

[2015-10-16 06:04] #23 closed

[2015-10-16 10:12] mkstix6 commented on #32
ahh amazing! Yes that's perfect. I realised in the final report gr was scanning my whole hard disk but I couldn't work out how to contain it to my project folder. Thanks.

[2015-10-16 19:33] coderjoe commented on #32
@mixu I'm glad I built my gr config before this change. My home is large, contains symlinks to source, and the actual git repos are exactly 6 levels deep. ;)

[2015-10-16 20:19] mixu commented on #32
hmm, I wonder if I should make discover not follow symlinks - seems like there are valid cases where it should, then again the reason @mkstix6's gr scans the whole drive is probably a symlink somewhere...

I'll probably just keep the follow-symlinks behavior for now, since at least with the progress output one can more effectively diagnose what is going on...

As for discovering 6 folders deep, on

[2015-10-16 20:26] mixu commented on #32
published as `v0.5.0`

[2015-10-16 22:25] coderjoe commented on #32
@mixu good point! :+1:

[2015-10-29 20:06] mixu commented on #39
The repo HTML was finally updated - this has been a bit of a persistent issue (sites going out of sync), so I wrote a thing that listens on Github push events, runs an AWS Lambda and rebuilds the site on S3 (where it lives). I'll open source it once I iron out the bugs, but automatically rebuilding the site will definitely help keep it in sync from now on...

[2015-10-29 20:06] #39 closed

[2015-11-02 13:09] andrewpmartinez opened #40 "Conditionally execute based on current branch"
In large projects with many repositories there are times when you need to run commands on a certain set of repositories (facilitated by the tags functionally) but additionally only if that repository is on a specific branch.

In my current work flow I ended up with a branch that didn't have its upstream set. I had a tag for the current set of repositories, but one specific branch didn't have its u

[2015-11-19 10:33] mkstix6 opened #41 "gr list hasn't printed out the tags"
In the docs it mentions

`gr list        List all known repositories and their tags`

I'm getting a list of the repository directories but not their tags.
Although I do only have 1 tag so perhaps that's it.

[2015-12-06 22:14] eriknomitch opened #42 "Expand tilde for $HOME in grconfig.json"
I have multiples machines and I want to share a `grconfig.json` with all of them as I have a `configs` git repository.  Some of them have different `$HOME` directories so the full paths required by `grconfig.json` is unfortunately a bit of a hangup.

I would *love* to be able to use tilde for `$HOME` in `grconfig.json`.  Is there any workaround currently?  Otherwise, I'm going to have to write a s

[2016-01-07 15:01] michaek commented on #41
`gr --help` suggests you're looking for `gr tag list`

[2016-01-08 02:30] #41 closed

[2016-02-09 22:18] farmerchris opened #43 "gr discover <path> should expand discovered repos to full paths"
Running discovery with a path, such `gr discover .` creates a config file with relative paths in it. This is not useful unless gr is run in the same directory. The program should convert the path to full paths starting with / or ~ automatically so that discovered repos can be referenced from anywhere.

Example:
[code]

Better would be:
[code]

A workaround is to use ``gr discover `pwd` ``.

This b

[2016-02-10 18:49] coderjoe commented on #43
I should have time to take a look at and fix this later tonight.

[2016-02-10 19:49] coderjoe commented on #43
I won't have time until later, but it looks like one potential fix might be to convert the discovered git paths from relative paths to absolute paths after path normalization (line 177 of tag.js in 0234887). I'm thinking it might it be safe to do that with `path.resolve(dir)`?

[2016-02-10 20:51] farmerchris commented on #43
Yeah, I was looking at the source to see where this might go and tracked down that same part of tag.js.

[2016-02-10 21:54] farmerchris commented on #43
I submitted a PR for this fix. My first time doing that on github so please let me know if I've messed up in any way.

[2016-02-11 05:59] mixu commented on #43
Thanks for the fix! closing this issue.

[2016-02-11 05:59] #43 closed

[2016-02-12 12:37] epcim commented on #8
+1
alternatively the "gr" should only work with repos under current $PWD. Force the behaviour by flag "-g" etc..

re: placing it in project repo (ie in root of superrepo) is fine, except you are on path elsewhere (one of the subrepo).

[2016-02-12 12:54] epcim opened #45 "avoid @tag and use just word or tag1/tag2/tag3"
Couple of issues here:

- it's nice in configs, listing, during the discover (all the visual) but for writing it each time point less.
- fish shell, while defining an alias by function, cant send "@" as that way is used by fish to "some" array object.

why not just:
[code]

Regarding aliases for shell, ie the fish shell example, one would like to use sth like following code to address command on s

[2016-02-12 23:26] coderjoe commented on #8
I'm not against the idea but it would very much gr's usefulness to me.

[2016-02-13 14:45] RX14 commented on #8
I think it's possible to have both, and simply extend gr's functionality instead of change it completely.

[2016-02-16 12:02] aparovysnik opened #46 "Windows: ENOENT when running gr discover with no EDITOR environment variable set"
Trying to run `gr discover` without EDITOR system environment variable results in following message (which is not sufficiently descriptive):

[code]

As a user, I would like to have a more informative message and documentation with instructions on setting up the environment so git-run can operate successfully.

NOTE: this also occurs in GIT command line despite it having VIM as its own default tex

[2016-02-18 15:49] schlessera opened #47 "Feature request - Export & import of repo collections"
Hey @mixu , thank for the great `gr`, it is very useful!

I would really love to see an export & import feature so that developers can share a collection of repos.

I imagine it could work something like this:
1. Developer A has a folder full of repos in his `~/dev/company` folder.
2. He runs `gr export ~/dev/company`.
3. `gr` creates a list of relative folder names, corresponding git repo URIs, a

[2016-02-29 14:24] mickaelperrin commented on #46
Problem confirmed and workaround works also. Note that the EDITOR must be set and the executable path must be correct.

Thanks.

[2016-02-29 14:59] mickaelperrin opened #48 "gr tag discover does not recurse directories"
Hi,

Just tried gr tag discover in my home folder and got this result:

[code]

It seems that gr tag discover does not recurse in subfolders. Should I pass a specific argument to set the recursion depth ?

Thanks,

[2016-03-12 21:43] orivej commented on #48
This may be a bug in `plugins/tag.js`: when `gr` encounters a broken symlink, it aborts any further search and just presents what it has discovered so far.

[2016-03-22 14:35] xapple commented on #42
+1 this is really essential to make `gr` usable and not have to configure it again each time you deploy to a new server.

[2016-03-26 14:51] xapple commented on #42
The worst is that it doesn't even tell you it's a problem so you can search for hours. You just see:

     $ gr git pull
     Skipped  as it does not have a .git subdirectory.

[2016-03-26 15:04] xapple commented on #42
Here is my install script that auto-generates the config file if it can help anyone.

    import sh, glob, os
    sh.npm('install', '-g', 'git-run')

    home = os.environ.get('HOME', '~') + '/'
    repo = home + 'repos/'
    repos = glob.glob(repo + '*')
    path = home + '.grconfig.json'

    text =  """
    {
      "tags": {
        "all": [
          %s
        ]
      }
    }""" % ',\n      '

[2016-03-31 05:19] nasht00 opened #49 "ENOENT error executing the command "pull""
[code]

Am I missing something? Is this a known issue?

[2016-03-31 05:22] nasht00 commented on #49
`gr @sample status` works fine.
But if I try to run any real command, it fails.

[2016-03-31 06:02] mixu commented on #49
weird - works for me:

[code]

Could you do a `console.log(process.argv, task, req.path)` here - https://github.com/mixu/gr/blob/master/plugins/run.js#L44 and post the results?

Does `~/Git/Samples/Adapters` have a `.git` folder? The git commands check for that folder and fail if it does not exist (`lib/command-requirements.js`)

[2016-03-31 06:12] nasht00 commented on #49
[code]

Yes all the folders in the gr file are git projects with git folders.

I'm not sure I understand the test you asked me to do.
I don't work from source code, I installed it using NPM...

[2016-03-31 06:16] mixu commented on #49
thanks - so it might be something to do with `git`.

To patch / debug this issue, you can clone this repo from github, edit that file and then run `./bin/gr @sample git status` or something similar.

[2016-03-31 06:19] nasht00 commented on #49
Note that git itself works:

[code]

I will try to run from source code a bit later.

[2016-03-31 06:25] mixu commented on #49
oh I think there might be another explanation - do you have a folder called `git` in the folder where you ran `gr @sample git pull`? I think what's happening is that gr thinks you want `@sample` and `./git` as the targets with `pull` as the command. I didn't think about that possibility when I was writing the target detection code ...

If so, `gr @sample -- git status` should work (`--` explicitly

[2016-03-31 06:38] nasht00 commented on #49
Good catch!

Indeed, all my repositories are in a folder called "Git", and I was running the command above this folder. If I run the command in a different folder it works.

I'll let you decide if you want to close as "work as designed" or if you can do something to help avoid those scenarios :)

Thanks

[2016-03-31 06:43] mixu commented on #49
cool! glad to hear that helped. I'll keep this open to remind myself to revisit this behavior the next time I'm working on `gr`

[2016-06-16 15:31] jbcpollak commented on #17
I started writing a tool like this yesterday in node.. then realized in the evening I should search and see if someone already had, and found gr! I haven't tried it yet, but here is my usecase, which I think gr will handle well:

We have a multi-repo project. To run end-to-end testing we need to run `npm start` in 8 separate repos. Developing a feature often involves modifying 1/2 or more of the r

[2016-08-09 13:08] someshSandbox opened #52 "gr discover output file location?"
After I run "gr discover ~/git-repos" , I am prompted with a list of repos. I add the appropriate tag @xyz. The default location of the file is "/tmp/gr-repos-tmp.txt". How are these tags applied to the repo. git discover doesn't automatically update my .grconfig.json file. Can I specify the location of gr-repos-tmp.txt  in my  .grconfig.json ?

[2016-09-23 04:51] zhaocai opened #53 "how to work with multiple tags?"
For example, I want to `git grep` repos tagged with both `JavaScript` and `lib`. How do I do that?

[2016-09-23 15:19] mixu commented on #53
as mentioned in the readme, you can pass as many targets as you want. `gr @foo @bar git --no-pager grep "js"`

[2016-09-23 15:19] #53 closed

[2016-09-23 15:23] mixu commented on #52
weird. basically that file is read after it has been saved, and then parsed and discarded so it's not part of the actual config - it just gets translated into tag changes and then thrown out.

You can do the same thing manually via `gr tag add sometag /path/to/dir` but its a bit more work.

[2016-09-23 15:24] mixu commented on #47
:+1: this could be written as a plugin and would be great! happy to accept a PR

[2016-09-23 15:28] mixu commented on #45
yeah `@` used to be `#` which was even more problematic. You can use `-t` as an alternative syntax e.g `gr -t work -t play` so I think it's not too bad. I would like to avoid the ambiguity between words/tags and commands, e.g. is `work/github` a tag or is it an invocation of a command?

[2016-09-23 15:29] #45 closed

[2016-09-24 02:06] zhaocai commented on #53
@mixu

1. `@` is not working in some shells (PowerShell for example). `gr -t foo -t bar git --no-pager grep "js"` is not working as `-t bar git --no-pager grep "js"` is parsed as the command to execute.

2. What I want is not to work with repos tagged with `@foo` **or** `@bar` but `@foo` **and** `@bar`.

[2016-09-30 12:46] spacemoose opened #54 "Doesn't work on submodules."
If foo/ is a git repo containing a submodule bar/, and I try to execute 'status' on bar, I get:  "Missing .git directory".  Any chance this can generalized to work for submodules?

[2016-10-10 22:09] cojomojo commented on #54
I too have found myself wishing this would work with submodules. I believe it can be made to work pretty easily.  All that seemingly needs to change is this function. Just need to check if the parent directory has a .gitmodules file, and a .git directory. I will try and submit a PR with these changes.

[code]

[2016-10-14 13:51] torfsen opened #56 ""gr status" raises error "./ Missing .git directory.""
I've just installed gr and initialized my list of repositories via
[code]
When the editor opened I quit without adding any tags (I currently don't need any since I always want to target all repos at the moment). gr then told me that I could use `gr status`, however:
[code]
If I pass a path then it works:
[code]
This is on 0.5.1.

[2016-10-16 20:18] mixu commented on #54
merged & published

[2016-10-16 20:18] #54 closed

[2016-10-16 20:19] #52 closed

[2016-10-18 11:42] spacemoose commented on #54
Hey, super.  Thanks very much for that.

[2017-01-02 20:35] timja-kainos opened #57 "Deprecation warning node 7"
There's a deprecation warning on running gr tag discover.
[code]

[code]

Full output:
[code]

[2017-01-05 03:35] #57 closed

[2017-01-05 03:36] mixu commented on #57
fixed and published on npm as `v0.5.3`

[2017-01-23 08:53] timja-kainos commented on #47
@schlessera If you're still interested in this would you like to try out #59 ?

[2017-01-24 10:22] schlessera commented on #47
@timja-kainos I am not using `gr` with the project I am currently working on.
As soon as I get a new opportunity to work with `gr`, I will make sure to test this, but I cannot tell you when that will be...

[2017-01-25 15:20] su-narthur opened #60 "Feature Request: @tag && @tag"
Right now there doesn't seem to be a way to target only repos that have all of specified tags, instead of one or more. This would be great if it were possible.

[2017-02-05 17:26] adamhathcock opened #61 "Manage common files across repos"
I'm looking for a tool that will keep common files across repos in sync.  Files like gitignore or CI settings is what I'm thinking about.

The bootstrap idea you had might cover it but I just wanted to make sure my need is coverable by this tool or is some other solution should be used.

[2017-02-10 16:52] jeluard opened #62 "Allow to display command outputs inline"
Currently when executing a command associated outputs are displayed per project in columns.

For short outputs it would be convenient to have a line oriented output like gr status does.

e.g.

[code]

[2017-03-14 09:49] bimlas commented on #54
It works if the submodule is the first child of the root directory but not works if the submodule is in `foo/more/than/one/level/bar`. I don't speak Java, but I know that some kind of globbing should do the trick [here](https://github.com/cojomojo/gr/blob/master/lib/command-requirements.js#L16), or a loop like:

[code]

[2017-03-14 09:55] bimlas commented on #54
Another option: if `.git` is a file instead of a directory (so it's a submodule), then read the contents, for example:

[code]

If it contains `gitdir:` than it's a submodule.

[2017-03-16 17:22] jeluard opened #64 "Improve plugin documentation"
How can I have plugins recognized by `gr` ? Or am I supposed to fork `gr` and hook my plugins?

[2017-03-16 17:31] mixu commented on #64
yeah, it turned out that thus far I haven't gotten a lot of plugin PRs so I haven't really refined the plugin interface - the current flow does require forking the repo

[2017-03-16 21:30] jeluard commented on #64
Ok makes sense!

[2017-03-16 21:30] #64 closed

[2017-03-18 10:34] bimlas commented on #54
Please help me in #65

[2017-03-23 18:45] cojomojo opened #66 "The current method for detecting submodules does not work in all cases."
Say the .git directory is in `foo/`, and the submodule path is  `foo/bar/submodule`... then the way we are currently checking for a submodule directory fails as mentioned in #65.

Also, I have come across an issue on Windows 7 where the current method fails even when the submodule path is `foo/submodule`.

Overall, as @bimlas mentions in #54 / #65, it would be much better if we check for git direc

[2017-04-01 13:18] rprots opened #68 "Differentiate outputs from different repositories with different colour or style (bold)"
So odd repos can be default, even can be in bold font.
This would ease differentiating between different repos in the list.

[2017-04-01 13:39] rprots opened #69 "Which tag is default?"
Not clear from documentation which tag is default when executing simply "gr status" instead of e.g. "gr @work status".

[2017-04-01 13:42] rprots opened #70 "Bash autocompletion"
Bash autocompletion for gr commands. Also autocompletion for any commands passed (whether git or anything else).

[2017-04-01 13:47] rprots opened #71 "When run "gr @tag list" it lists all repos instead of just those associated to tag"
But if you do e.g. "gr @tag ls -la" it works and just shows those associated to the tag.

[2017-04-07 22:04] bimlas commented on #54
Just finished #65, please test it.

[2017-04-28 00:14] petercoulton commented on #46
Same error with EDITOR set to `subl -w` or `atom -w`.

[code]

My workaround for now is just to temporarily set EDITOR to something more shell friendly

[code]

[2017-06-01 04:58] lecstor commented on #56
I just had the same. I suspect it's an issue with console opening an external editor or similar as gr exits before the file is saved and does nothing with it.

`~/.grconfig.json` is empty.

If you edit that file to look like the example in the README then things start working as advertised.
*absolute file paths are required

[code]

[2017-06-21 18:43] sergii-bond opened #74 "Distinguish modified and untracked files in 'gr status'"
Currently `gr status` shows both modified and untracked files as 'modified'. It would be nice to know how many of those are actually untracked.

[2017-06-21 19:33] sergii-bond commented on #74
Here is the code snipped of `status.js` that after suggested modification:

[code]

What I don't know is how to add a header to the output of 'gr status'.

[2017-06-21 19:57] sergii-bond commented on #74
Actually the code above needs enhancements to better distinguish between the codes returned by `git status --porcelain`.

[2017-06-26 22:33] tpunder opened #75 "Doesn't work with "git worktree" creating working trees"
I noticed that gr doesn't work with a `git worktree` created working tree.  I get an error saying `Missing .git directory`.  The error is accurate since there is no `.git` directory.  Instead `git worktree` creates a `.git` file with contents that looks like

[code]

It would be cool if gr played nicely with `git worktree`!

Information about `git worktree` here: https://git-scm.com/docs/git-workt

[2017-06-26 22:38] tpunder commented on #75
The error I'm seeing comes from here: https://github.com/mixu/gr/blob/51b00b0e551806abf0982310644a700732b4a8c6/plugins/status.js#L33

Looks like the logic of this function needs to be changed: https://github.com/mixu/gr/blob/51b00b0e551806abf0982310644a700732b4a8c6/lib/command-requirements.js#L5

[2017-09-28 00:17] mixu commented on #66
I have no strong opinions on `git rev-parse --show-prefix` vs `git rev-parse --is-inside-git-dir` since my use case tends to be pretty simple, happy to revisit this but closing for now since #65 landed

[2017-09-28 00:17] #66 closed

[2017-09-28 00:23] mixu commented on #47
implemented in #59

[2017-09-28 00:23] #47 closed

[2017-09-28 00:24] #46 closed

[2017-10-13 09:31] vixus0 commented on #56
I'm seeing the same issue in version 0.5.0 (Homebrew/OSX).

Looks like it's caused by `gr discover .` only saving the *relative* paths in `~/.grconfig.json` which means later `gr @mytag status` only works from within the directory you initially executed `gr discover .` in.

[2017-10-26 00:24] shousper opened #77 "`gr status` column headers and long branch names"
Hi, long time user, first time bug/feature report.

The recent additions to include the current branch name and remote status information have kind of ruined the `gr status` output for me.
Our branches are usually anywhere from 20-40 characters long. Sadly this means the output looks something like this:

[code]

Could the output here automatically line things up in a more table-like layout, maybe

[2017-10-26 00:43] mixu commented on #77
yeah I think making these configurable seems reasonable. I don't have the bandwidth to make that happen soon, but if you have a bit of time I'd be happy to accept a PR!

[2017-10-26 20:34] garyhodgson opened #78 "run command on Cygwin throws "ENOENT error executing the command""
I was getting the ENOENT error when trying to run commands (e.g. gr @tag -- mvn install) but fixed it by replacing the "child_process" module in lib/run.js with the "cross-spawn" (https://www.npmjs.com/package/cross-spawn)

(Env is Cygwin on Win 10, node v8.7.0)

[2017-11-27 14:36] alphapapa opened #79 "myrepos"
Hi,

You might consider adding a note comparing `gr` to `myrepos`: http://myrepos.branchable.com/

[2017-12-04 16:25] ira-lb commented on #79
and/or Google's `repo` which may have been created for the very complex Android project, but is in no way specific to it:
https://android.googlesource.com/tools/repo

[2017-12-08 09:41] OsirisTerje opened #80 "Crashes on discovery and status"
Windows 8.1,  admin cmd prompt
Installs just fine, no warnings nor errors
npm version 5.6.0
node version 8.9.2

Running :  "gr tag discover . "  to tag all repos under a given folder

![image](https://user-images.githubusercontent.com/203432/33759268-080c516e-dc02-11e7-85ea-17fb12c1c87d.png)

Then trying to see if this is something odd here, I try "gr status", but get:

![image](https://user-image

[2017-12-10 05:03] EvanCarroll commented on #79
I myself would love to know the difference between gr and mr (myrepos) it's not immediately clear what they do differently. I found this looking for mr.

[2018-01-19 14:52] walljm commented on #80
me to:
Windows PowerShell
Copyright (C) 2016 Microsoft Corporation. All rights reserved.

on Windows 10

[code]

[2018-03-13 20:33] smilesun opened #82 "gr tag discover does not work"
`gr tag discover project`
`/usr/bin/env: node: No such file or directory
`
The same error occur even with gr --help

[2018-04-14 20:04] khaister commented on #82
I have a similar issue. I'm using Windows 10 Enterprise with Git for Win installed (latest version).

[2018-04-23 13:22] jamiebarrow commented on #80
It comes from this line of code basically, which tries to decide which editor to use to allow you to edit the file it generates for the `.grconfig.json` setup, and if no environment variables are set, it defaults to the `nano` editor (which isn't available on Windows especially):
[code]

Set your EDITOR environment variable to whatever your editor of choice is (e.g. code, or notepad++, or even not

[2018-06-11 15:49] n1ywb opened #84 "Removing a tag from a repo that doesn't have the tag removes the tag from another random repo"
I start out with 3 repos with the @premajor tag, and I am in one of them

When I remove the tag from the current repo, it works as expected

when I try to remove the tag AGAIN from the current repo (which no longer has the tag) it removes the tag from a different repo which completely borks up my git run tags

also gr crashes with an ugly message when you ask for the status of a tag with zero repo

[2018-06-12 14:12] n1ywb opened #85 "Unable to interact with subprocesses; create "interactive run" feature"
Sometimes I like to use gr to run interactive subprocess, e.g. `git add -i`. The node spawn function has a way to do this but gr does not expose it.

[2018-07-10 07:47] Marwe opened #87 "Check config format, add a useful message"
I messed up my ~/.grconfig.json (excess comma at end of a list due to deletion of last entry) and found the resulting error message to be not exactly informative.
Maybe this can be handled better, such that a (syntax) check is included and a useful "config messed up"-message can be shown.

[code]

Thanks for this great piece of software!

[2018-08-02 21:48] emilyhou opened #88 "`gr status` causes TypeError: Cannot read property 'toString' of null"
Trying to run `gr status`:

[code]

Thanks for this awesome tool!

[2018-08-05 22:08] razor-x opened #89 "Support XDG Base Directory Specification #1316"
- If `$XDG_CONFIG_HOME` is set, config file should be saved to `$XDG_CONFIG_HOME/gr/config.json`.
- In addition or instead of the above, read `GR_CONFIG_HOME` and if set, use that (`GR_CONFIG_HOME=$HOME` would replicate current behaviour).

See https://wiki.archlinux.org/index.php/XDG_Base_Directory_support

For other projects struggling with this, see https://www.google.com/search?q=support+xdg+g

[2018-08-06 08:10] jamiebarrow commented on #88
@emilyhou have you already discovered your repositories? I had this same issue, but then what happened is I did not tag my repositories that it discovered, and so it was not saving them in the `~/.grconfig.json` file. When you run the discover, don't forget to include the `@tags`, and then try again?

[2018-08-07 17:43] emilyhou commented on #88
@jamiebarrow Thanks, tried to run discover but it failed to discover any of my repositories that I wanted it to see, and I ran it straight from the parent directory containing all the repos. I'll try debugging this on the side but it sounds like this bug is a WAI, although the error message could be a bit more informative!

[2018-08-07 17:44] #88 closed, assigned to nobody

[2018-08-15 15:04] nathanchapman opened #90 "Broken list for specific tags"
Instead of listing all directories associated with `tag`, `gr @tag` lists *all* known directories. Running commands on the tag works as expected.

[2018-08-15 15:17] nathanchapman opened #91 "Cannot run bash/zsh functions or aliases"
Any time I try running a function or alias command I get:
`ENOENT error executing the command "github" in /Users/nchapman/workspace/repo. Please make sure you have installed an executable named "github" in $PATH`

Running `github` (without gr) in the directory runs a function I've written in my `~/.zshrc` that opens the browser to github.com/org/repo.

Same goes for my aliases, like `gst` (git sta

[2018-08-15 16:02] nathanchapman commented on #91
I've tried both #83 and #27 and neither work with ZSH.
For now, I broke these functions out into `sh` files and can run them with `gr @tag sh ~/bash/github.sh` etc.

[2018-08-20 10:19] danjessen opened #92 "strict mode"
I'm running into this issue

[code]

[2018-08-20 10:58] #92 closed, assigned to nobody

[2018-08-23 03:39] roytruelove commented on #87
My guess is that this isn't handled super elegantly because it's not expected that the users will be editing that file directly

[2018-09-19 14:01] rocketraman opened #93 "Really missing the `@modified` type functionality mentioned in the README"
What a great project. Super-useful. However, I'm really wishing the `@modified` functionality mentioned in the README was available -- one almost always wants to do stuff in just projects with changes. I see that there has really been no activity on this project for a while, but do you have any plans to keep improving this project?

[2018-10-16 04:56] rocketraman commented on #93
For now, I'm working around this with a hack. I created a script called `ifgitmodified` with this content:

[code]

and now I can do:

[code]

I also have similar scripts `ifgitahead`, `ifgitbehind`, and `ifgitbranch`.

[2018-10-16 05:00] rocketraman commented on #93
All these scripts uploaded to https://github.com/rocketraman/grscripts in case anyone else finds them useful.

[2018-10-16 13:17] rocketraman commented on #40
@andrewpmartinez  The workaround here may help you: https://github.com/mixu/gr/issues/93

[2018-10-16 13:17] rocketraman commented on #3
@luolong The workaround here may help you: https://github.com/mixu/gr/issues/93

[2018-11-29 20:52] SomeoneRandom42 opened #94 "Tags are not respected in powershell"
When using gr from a powershell command line everything works fine except tags are not respected. Every command will run on every single tagged repository so you can't categorize anything further than "all".

I think this is the only thing needed to fully support powershell and would be nice to have so people don't need a bash command line and a powershell command line if they work in powershell m

[2018-12-02 11:04] NightMachinery opened #95 "doesn't output completion script"
[code]

[2018-12-10 09:21] andreineculau commented on #53
@mixu any update on this? I'm looking for the same thing

[2018-12-12 16:33] qsona commented on #95
@NightMachinary Perhaps you're using oh-my-zsh which defines `gr` as an alias of `git remote`. Try `$ unalias gr`.

[2018-12-12 16:43] NightMachinery commented on #95
Oh you’re right. How can I rename the utility instead? In general, I don’t
like to pollute the 2-lettered namespace.

On Wed, Dec 12, 2018 at 8:03 PM qsona <notifications@github.com> wrote:

[2019-01-14 14:06] floriantraber commented on #16
@mixu can we add a note in the docs for this? They already mention zsh, so I naturally felt that it should work out of the box.

[2019-06-10 13:06] mostafa8026 opened #97 "Can we use this tool on windows?"
I think we don't have tagging in windows. how does this tool work on windows?

[2019-06-19 15:16] sansp00 commented on #78
@garyhodgson Would it be possible to issue a pull request with your fix ? I am facing the same problem and would like to use your fix. Thanks !

[2019-06-19 16:42] garyhodgson commented on #78
I had hacked the node js directory directly. Add cross-spawn to the dependencies in package.json `"cross-spawn": "^5.1.0",`

replace line 1 of https://github.com/mixu/gr/blob/master/lib/run.js#L1 with `var spawn = require('cross-spawn'),`

[2019-06-22 01:25] sansp00 commented on #78
Thanks a million, I applied the fix and made gr work properly on my box :)

[2021-02-13 21:55] frejonb opened #98 "Tag union/intersection"
How could I select repos that:
- have both tags `@foo` and `@bar`
- have either tag `@foo` or `@bar`
?

[2021-04-30 12:55] #40 closed

[2021-05-14 15:21] ykoehler opened #99 "Run gr in parallel when multiple folder in a group, yet still output sequentially"

[2021-05-23 08:59] rajoriav opened #100 "Can command execution for a tag be ordered, this can be based on the order in the .grconfig.json?"
Can command execution for a tag be ordered, this can be based on the order in the .grconfig.json

This will help order execution in case subsequent repos are dependent on compiled version of repos ahead the list in case of a multi git repo project.